@font-face {
    font-family: "NexaRustSans";
    src: url(Fonts/NexaRustSans-Black.otf);
}

body {
    font-family: "NexaRustSans";
    background-color: #E1E8E6; 
  }

#landing-wrapper {
    display: flex;
  }

  .landing-section {
    text-align: center;
    text-decoration: none;
    font-size: 2vw;
    color: black;
    text-shadow: 4px 4px #AFD4D7;
    border-radius: 20px;
    margin: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
    transition: transform .2s;
    filter: blur(5px);
  }

  .header {
    transition: transform .25s;
    transform: translate(0px, -14vh);
  }
  
  #landing-right {
    flex: 0 0 48%;
    height: 98vh;
    background-image: url("Landing-Music.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  #landing-left {
    flex: 1;
    height: 98vh;
    background-image: url("Landing-Programming.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .landing-section:hover {
    transform: scale(1.013);
    filter: blur(0px);
  }

  .landing-section:hover > .header {
    transform: translate(0px, 0px);
  }

  @media screen and (max-width: 900px) {
    html, body {
        overflow: hidden;
      }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .landing-wrapper {
        display: flex;
  
        overflow-x: auto;
        scroll-snap-type: x mandatory;
  
  
  
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
  
        
        scroll-snap-type: mandatory;
        
    }


    .landing-section {
        font-size: 5px;
        filter: blur(0px);
    }

    .landing-section:hover {
        transform: scale(1);
        filter: blur(0px);
      }

    #landing-right {
        display: flex;
        flex: 0 0 auto;
    }

    #landing-left {
        display: flex;
        flex: 0 0 auto;
    }

    .landing-wrapper::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }
      .landing-wrapper::-webkit-scrollbar-thumb {
        background: black;
        border-radius: 10px;
      }
      .landing-wrapper::-webkit-scrollbar-track {
        background: transparent;
      }
      .landing-wrapper > a {
        scroll-snap-align: start;
        flex-shrink: 0;
        width: 97vw;
        margin-right: 50px;
        border-radius: 10px;
        background: #eee;
        transform-origin: center center;
        transform: scale(1);
        transition: transform 0.5s;
        position: relative;
        
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 100px;
      }

      .header {
        display: none;
      }
  }